@import '../../../../globalStyleVariables.scss';

.skin-drop-down {
    position: relative;

    &__select {
        width: 50px;
        background: $drop-down-menu-background;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        &--hide {
            display: none;
        }
    }

    &__skin {
        margin-bottom: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px auto;
        cursor: pointer;
    }
    &__header {
        width: 50px;
        background: $drop-down-menu-background;
        height: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
