@import '../../../globalStyleVariables.scss';
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: $navbar-color;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    min-width: 320px;

    &__position {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 3rem;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    &__input-container {
        margin: 2px auto;
        width: 100%;
        position: relative;
        font-size: 20px;
    }
    &__input {
        display: block;
        margin: 0 auto;
        border-radius: 1px;
        width: calc(100% - 38px);
        padding: 3px 25px 3px 5px;

        &:focus {
            outline: none;
        }
    }
    &__search-icon {
        position: absolute;
        top: 4px;
        right: 6px;
    }

    &__link {
        font-size: 18px;
        text-align: center;
        border-radius: 3px;
        margin: 0 6px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &--active {
            background: $main-color;
        }
    }
}

@media only screen and (max-width: 640px) {
    .navbar {
        &__link {
            margin: 0 3px;
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 460px) {
    .navbar {
        &__link {
            margin: 0 2px;
            font-size: 0.6em;
        }
    }
}
