.navbar {
    position: fixed;
    top: 0;
    background: lightblue;

    height: 100%;
    display: flex;
    flex-direction: column;


    &__link {


        &--active {
            background: red;
        }
    }
}