.recently-used {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    margin: 0 auto;
    width: 20%;
    overflow: auto;
    flex-flow: column wrap;
    text-align: center;
    flex-wrap: nowrap;
    &__emoji {
        cursor: pointer;
    }
}
