@import './../../../../globalStyleVariables.scss';

.emoji {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    overflow: hidden;

    &__icon {
        display: flex;
        align-items: center;
        font-size: 3rem;
        text-align: center;
        justify-content: center;
    }
    &__text {
        font-size: 1rem;
        visibility: hidden;
        background-color: black;
        padding: 5px;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
    }

    &:hover {
        background: $main-color;
    }

    &:hover &__text {
        visibility: visible;
    }
}
