.copied {
    position: fixed;
    bottom: 0;
    left: 50%;
    background: red;
    font-size: 20px;
    font-weight: bold;
    background: #fdfdb5;
    border:1px black solid;
    border-bottom:0;
    
}
