.group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;

}

.emoji-group {
    display: grid;
    grid-template-columns: repeat(16, 4rem);
    grid-auto-rows: 70px;
}